body{
    font-family: "Comic Neue", cursive;
    padding: 0 !important;
    margin: 0 !important;
}

.container{
    background: #c3eeff;
    padding: 20px;
    height: auto;
}

.container-hijo{
    max-width: 600px;
    min-width: 250px;
    margin: auto;
}

.title-h1, .box-title h2{
    margin: 0;
    text-align: center;
}
.title-h1{
    padding: 25px 0;
    color: #007BB5;
}

.box-title h2{
    margin-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    margin-bottom: 15px;
}

.form-title p, .form-comentario p, .box-message h3, .box-message p{
    margin: 0;
}

.form-title p, .form-comentario p{
    font-size: 18px;
    margin-bottom: 5px;
}

.form-title, .form-comentario{
    width: 100%;
}

.form-title input, .form-comentario textarea{
    width: 100%;
}

.form-title input{
    height: 35px;
    outline: none;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 20px;
}

.form-comentario textarea{
    outline: none;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 15px;
}

.form-comentario{
    margin-bottom: 10px;
}


.form-btn{
    display: flex;
    justify-content: center;
}

.form-btn button, .box-message-btn{
    padding: 12px 20px;
    background: #007BB5;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

.box-btn{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.box-message{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    background: #eaf8fd;
}

.box-message-parrafos{
    word-wrap: break-word;
    max-width: 100%;
}

.box{
    margin-bottom: 40px;
}